*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;

}
.container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
    
}
.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: -1;
    object-fit:cover;
}
.foreground{
    opacity: 0; 
}
.container:hover {
    .foreground {
        opacity: 0.7;
    }
}
.background{
    transform: translateZ(-40px) scale(5);
}
.foreground{
    transform: translateZ(-20px) scale(3);
}
h1{
    /* top: 2rem; */
    letter-spacing: 3px;
    position: absolute;
    color: azure;
    font-size: 5rem;
    /* text-shadow: orangered 2px 2px; */
    text-shadow: orangered 3px 3px 6px, white 5px 5px 10px, green 12px 12px 10px;
}
section {
    background-color: #75e4de;
    color: white;
    padding: 5rem 0;
}
.bg1{
    background-image: url(images/msdhoni1.jpg);   
    
}

.bg2 {
    background-image: url(images/virat.jpg);
}

.bg3 {
    background-image: url(images/rohitsharma1.jpg);
}
.secheading{
    font-size: 2rem;
    padding: 0 10rem;
}
.text{
    background-color: #75e4de;
    background: linear-gradient();
    color: white; 
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height:700px;
    background-size: cover;
    background-position: center;
    
}
.desc{
    position: absolute;
    color: black;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2.5rem;
    font-weight: 600;

}









